## This is Secure server


Hostname      - {{ ansible_hostname }}
BIOS version  - {{ ansible_bios_version }}
OS Distro     - {{ ansible_distribution }}
Major Version - {{ ansible_distribution_major_version }}
OS family     - {{ ansible_os_family }}
Processor     - {{ ansible_processor_cores }}


##
